body {
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background: #f9f9f9;
    /*font-family: CircularStd,sans-serif;*/
}

a#resume:hover {
    box-shadow: none !important;
    transition: box-shadow 0.5s;
}

a#resume {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    box-shadow: 4px 4px #696d72;
    font-variant: small-caps;
}

a#mail{
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border-bottom: 1px solid;
    color: black;
}

a#mail:hover {
    background: black;
    color: white;
}